* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
 min-height: 100vh;
 background: linear-gradient(135deg, #153677, #5b548a);
 padding: 10px;
}
.todo-app{
  width: 100%;
  max-width: 600px;
  background-color: white;
  color: #333;
  margin: 100px auto 20px;
  border-radius: 20px;
  padding: 40px 30px 70px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 10px; 
  background: #edeef0;
  padding-left: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}
button{
  border: none;
  outline: none;
  background: #ff5945 ;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding:  12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;

}
ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeLigCWw8NY_nJhDQK4PvBsyqezx3q4P6FYw&s');
  background-size: cover;
  top: 8px;
  left: 8px;


}
ul li.checked{
  text-decoration: line-through;
  color: #999;
}
ul li.checked::before {
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9PE5e5ylMGGGnUdoJqzYRVLhLdWDBJnbPxg&s');
  background-size: cover;

}
span{
  position: absolute;
  right: 0;
  top: 12px;
  transform: translateY(-50%);
  font-size: 22px;
  color: #ff5945;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
span:hover {
  background: #ff5945;
  color: #fff;
  border-radius: 50%;
}
