body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:white;
  font-family: Arial, Helvetica, sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
header ,h1{
  background-color: darkturquoise;
  color: black;
  border-radius: 7px;
  padding-bottom: 10px;
  text-align: center;
}
#para{
  font-size: 20px;
}
nav{
  background-color: rgb(54, 51, 51);
  padding: 5px 0;
  color: white;
  height: 40px; 
 border-radius: 7px;
 position: sticky; 
  top: 0;/*Sticks to the top of the viewport  */
}
nav ul li{
display: inline;
}
nav ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  font-weight: 300;

}
nav ul li a:hover{
  border-radius: 5px;
  background-color: dimgray;
}
.container{
  background-color: rgb(241, 240, 240);
}
.Card{
  margin-top: 10px;
  padding-left: 15px;
  background-color: darkgrey;
  padding-top: 5px;
 padding-bottom: 10px;
 margin: 15px;
 border-radius: 5px;
}
.box1{
  padding: 10px;
  height: 100px;
  width: 100px;
  background-color: coral;

}
.box2{
  height: 100px;
  width: 100px;
  background-color: rgb(62, 217, 44);
  display: block;
  padding: 20px;
}
.Box3{
  height: 100px;
  width: 100px;
  background-color: rgb(62, 217, 44);
  margin-right: 10px;
display: inline;

}
.Box4{
  height: 100px;
  width: 100px;
  background-color: rgb(204, 137, 22);
  display: inline;
}
.button{
  display: inline-block;
  background-color: aqua;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.None{
  border: 1px solid rebeccapurple;
  background-color: darkorange;
  color: white;
  display: none;
  padding: 15px;
}
.Visibility{
  border: 1px solid rebeccapurple;
  background-color: darkorange;
  color: white;
  visibility: hidden;
  padding: 15px;
  height: 100px;
  width: 100px;
}
footer{
  text-align: center;
  background-color: rgb(50, 48, 48);
  color: white;
  padding: 10px;
  border-radius: 8px;
}
